<?xml version='1.0' encoding='utf-8'?>
<widget id="phonegap.gameportal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GamePortal</name>
    <description>
        Game Portal for Social Multiplayer Games.
    </description>
    <content src="https://yoav-zibin.github.io/NewGamePortal" />
    <access origin="*" />
    <access origin="https://yoav-zibin.github.io/NewGamePortal/*" />
    <allow-navigation href="https://yoav-zibin.github.io/NewGamePortal/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-sms-plugin" spec="^0.1.11" />
    <plugin name="cordova-plugin-contacts" spec="^3.0.1">
        <variable name="CONTACTS_USAGE_DESCRIPTION" value="GamePortal wants to use your contacts" />
    </plugin>
    <plugin name="cordova-universal-links-plugin" spec="^1.2.1" />
    <universal-links>
        <host name="universalgamemaker.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
    </platform>
    <platform name="ios">
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>Blink uses your camera to make video calls.</string>
        </config-file>
        <config-file parent="NSContactsUsageDescription" target="*-Info.plist">
            <string>Blink needs access to your contacts in order to be able to call them.</string>
        </config-file>
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>Blink uses your microphone to make calls.</string>
        </config-file>
    </platform>
    <platform name="ios">
        <hook src="hooks/iosrtc-swift-support.js" type="after_platform_add" />
    </platform>
    <plugin name="cordova-plugin-iosrtc" spec="^4.0.2" />
    <engine name="ios" spec="^4.5.4" />
</widget>
